*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #040714;
    position: relative;
    background-image: url(../imagens/bg.jfif);
    background-size: 99%;
    background-repeat: no-repeat;
}

.bg{
    position: absolute;
    margin: 100px 50px;
    top: -29px;
    left: 402px;
    width: 53vw;
    height: 84vh;

}
header > span{
    float: right;
    padding: 16px 8px 9px 8px;
    margin: 12px 45px;
    font-family: 'Avenir', sans-serif;
    border: 1px solid rgb(216, 214, 214);
    border-radius: 5px;
    font-size: 1.1em;
    width: 90px;
    height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

 .txt-inicio{
    position: absolute;
    top: 183px;
    left: 160px;
    color: white;
    font-family: 'Avenir', sans-serif;
    font-size: 28px;
    font-weight: 700;
    z-index: 1;
}

.main-content > img{
    width: 488px;
    height: 172px;
    position: absolute;
    top: 274px;
    left: 256px;
    z-index: 1;
    transform: translate(-19%, -19%);
}

.btn-plano{
    position: absolute;
    top: 447px;
    left: 104px;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    border-radius: 4px;
    padding: 16.5px 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: #6421ff;
    letter-spacing: 1px;
    z-index: 1;
    width: 623px;
    text-transform: uppercase;
    vertical-align: middle;
}

.plan-area{
    position: relative;
    top: 714px;
    left: 384px;
    width: 100vw;
    height: 100vh;

}

.title-plan{
    position: absolute;
    top: 250px;
    left: 150px;
    color: #f0f0f0;
    font-family: 'Avenir', sans-serif;
    font-size: 44px;
    line-height: 54px;
} 

.combo{
    position: absolute;
    top: 165px;
    left: -336px;
}

.img-logo{
    position: absolute;
    top: 180px;
    left: 116px;
    width: 250px;

}

.price1{
    position: absolute;
    top: 295px;
    left: 179px;
    color: #f0f0f0;
    color: white;
    font-family: 'Avenir', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.conteudo-plano1{
    position: absolute;
    top: 350px;
    left: 185px;
    color: #f0f0f0;
    font-family: 'Avenir' sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}