#top-bar{
   background-color: black;
   max-width: 100%;
   min-height: 40px;
}

.menu{
    position: absolute;
    
}

.menu ul li{
    position: relative;
    top: -5px;
    left: 580px;
    display: inline;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bolder;
}

.menu li a{
    padding-right: 10px;
    text-decoration: none;
}

.menu ul li a:hover{
    color: white;
}

.text1{
    text-align: center;
    font-family: sans-serif;
    color: brown;
    font-size: 2em;
    font-weight: bolder;
    text-transform: uppercase;
}

.decoratedtext{

}